
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: lavender;
	overflow-x: hidden;
	background: lightskyblue;
	
}


.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container{
	width: 74%;
	max-width: 1800px;
	margin-inline: auto ;
}

section{
	margin-top: 3rem;
	width: 100vw;
}

h1, h2, h3, h4, h5{
	 color: white;
	 line-height: 1.3;
}

a {
	color: white;
	transition: all 300ms ease;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}


/* nav */
nav {
	background: blue;
	width: 100vw;
	height: 4.5rem;
	position: fixed;
	top: 0;
	z-index: 10;
	box-shadow: 0 1rem 1rem blanchedalmond;
}

nav button{
	display: none;
}

.nav__container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user__profile{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	overflow-x: hidden;
	border: 0.3rem solid lightskyblue;
}

.nav__logo{
	font-weight: bold;
	font-size: 2000;
}

.nav__items{
	display: flex;
	align-items: center;
	gap: 4rem;
}

.nav__profile{
	position: relative;
	cursor: pointer;
}

.nav__profile ul{
	position: absolute;
	top: 125%;
	right: 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3rem 3rem lavender;
	background: grey;
	visibility: hidden;
	opacity: 0;
	transition: all 300ms ease;

}

.nav__profile:hover> ul{
	visibility: visible;
	opacity: 1;
}

.nav__profile ul li a{
	padding: 1rem;
	background-color: transparent;
	display: block;
	width: 100%;
}

.nav__profile ul li a:hover{

	
	color: black;
}